<head>
    <link rel="stylesheet" href="./css/index.css">
</head>
<section class="welcome">
<div class="intro">
    <h1 class ="greeting">POWER PLAYER</h1>
    <img class="gamerImg"src="./public/images/homescreen.jpg" alt="Person playing on gamer computer">
    <div class="btn-container">
        <a class="btnlog" href="/login">Ingresar</a>
        <a class="btnshop" href="/shop"> Tienda</a>
    </div>
</div>
</section>



