<head>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>

    <main>

        <form class="login">
            <h1 class="login-title">Ingresar</h1>
            <input id="login-username" type="text" name="" placeholder="Usuario">
            <span id="error-username"></span>
            <input id="login-password" type="password" name="" placeholder="Contraseña">
            <span id="error-password"></span>
            <input id="login-btn" type="submit" name="" value="Ingresar">
            <a href="/register">Registrate</a>
        </form>

    </main>
    <script src="js/login.js"></script>