<head>
        <link rel="stylesheet" type="text/css" href="./css/profile.css">
</head>

<div class="greeting">
    <h2 class="welcome"></h2>
    <button id="orderbtn">Hacer Pedido</button>
</div>
<section id="buynow"></section>

<section class="shopping-cart">
    <div class="user-cart">
            <h1 class="title">CARRITO</h1>
            <div class="table">
                <table id="item-list">


                </table>
            </div>
    </div>
</section>
<section class="shopping-cart">
    <div class="user-cart">
        <h1 class="title">PEDIDOS</h1>
            <div class="table">
                <table id="order-list">


                </table>
            </div>
    </div>

</section>

<script src="./js/profile.js"></script>