<head>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>

    <main>

        <form class="login">
            <h1 class="login-title">REGISTRATE</h1>
            <input id="register-username" type="text"     name="" placeholder="Nombre de Usuario">
            <span id="error-username"></span>
            <input id="register-email" type="text"     name="" placeholder="Email">
            <span id="error-email"></span>
            <input id="register-password" type="password" name="" placeholder="Contraseña">
            <span id="error-password"></span>
            <input id="password-confirmation" type="password" name="" placeholder="Confirmar Contraseña">
            <span id="error-password-confirmation"></span>
            <input id="register-btn" type="submit"   name="" value="Registrate">
            <a href="/login">Ingresar</a>
        </form>

    </main>
    <script src="/js/register.js"></script>