<head>
    <link rel="stylesheet" href="./css/shop.css">
</head>

<main>
    <div class="top-space"></div>
    <div class="block">
        <div class="search-bar">
            <input class="search-box" type="text">
            <input class="search-btn" type="submit" value="Buscar">
            <div>
                <span class="err-msg"></span>
            </div>
        </div>
        
    </div>

    <section class="product_catalog"></section>
</main>

<script src="js/shop.js"></script>